.banner-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:30px;
    margin-top: 100px;
}
.profile-item{
    background-color: #fff;
    padding-top:20px;
}

@media all and (max-width:992px){
    .banner-container{  
        grid-template-columns: 2fr 1fr;
    }
}
@media all and (max-width:570px){
    .banner-container{  
        grid-template-columns: 1fr;
    }
}

